.page-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content-wrapper {
	flex: 1;
}

#logs {
	position: relative;
	width: 100%;
	height: 750px;

	font-family: Consolas, "Ubuntu Mono";
	font-size: 13px;
	line-height: 17px;
	white-space: pre-wrap;
}

#controls {
	padding-top: 20px;
}

#controls a svg {
	width: 16px;
	height: 16px;
	margin-right: 6px;
}