<%= provide :title, "Rails Console" %>

<script>
  $(function() {
    consoleWorkerInit();
  });
</script>

<div class="page-content">
  <div id="console"></div>
  <textarea id="input" url="<%= sweet_staging.execute_url %>">User.first</textarea>
  <button onclick="executeConsole();">Execute</button>
</div>