<section class="section">
  <div class="container">
    <div class="footer-box">
      <a class="button" id="clear" onclick="clearButton();">
        <%= icon 'like' %>
        Github
      </a>
    </div>
  </div>
</section>